/* Page background */
.customer-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #232526, #414345);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Card */
.customer-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  animation: slideIn 0.8s ease;
}

/* Subtitle */
.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

/* Inputs */
.customer-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

/* Focus animation */
.customer-input:focus {
  outline: none;
  border-color: #243b55;
  box-shadow: 0 0 8px rgba(36, 59, 85, 0.5);
}

/* Button */
.customer-button {
  width: 100%;
  padding: 12px;
  background: #243b55;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.customer-button:hover {
  background: #141e30;
  transform: scale(1.05);
}

/* Animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
